body{
  font-family: 'Gilroy', sans-serif;
  box-sizing: border-box;
}
*{
  box-sizing: border-box;
}

a{
  color: black;
}

.message{
  position: absolute !important;
  bottom:50px !important;
  left: 176px !important;
}
.catalog__item-butt--icon{
  width: 28px;
  cursor: pointer;
}
.users__table--box{
  toggle-group: 0;
  left: 54px;
  width: auto !important;
  right: 0;
  position: fixed;
  overflow-y: scroll;
  height: 100%;
}
.user__table--head{
  background: #F8F9FA;
}
.content{
  justify-content: center;
  display: flex;
}
.logo{
  width: 33px;
  height: 21px;
  box-sizing: content-box;
  padding: 10px 8px 20px;
  border-bottom: solid 1px #DDE3EE;
}
.button{
  height: 32px;
  width: auto;
  color: white;
  border: none;
  border-radius: 4px;
  font-family: 'Gilroy';
  padding: 0 14px;
  margin: auto 5px;
  background: #61D5DF;
  font-size: 12px;
  cursor: pointer;
}
.button--big{
  font-family: 'Gilroy';
  width: 230px;
  height: 41px;
  display: block;
  background: #61d5df;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: 1px solid #61d5df;
  font-size: 13px;
  padding: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;
  margin: 20px auto;
}

a{
  text-decoration: none;
}
/*catalog--filter*/
.category-filter__title>h2{
  font-size: 43px;
  display: inline;
  margin: 20px 10px;
  text-align: center;
}
.category-filter__title>.material-icons{
  font-size: 30px;
  margin: auto 0;
  margin-left: 30px;
}

/*main*/
.main{
  position: absolute;
  right: 0;
  position: fixed;
  overflow-y: scroll;
  left: 312px;
  height: 100%;
}

.simple__modal{
  display: flex;
  alignItems: center;
  justifyContent: center;
}
.simple__modal--paper{
  border: 2px solid #000;
}
/*----*/

.profile-page{
  min-width: 1000px;
}
.home-logo{
  position: absolute;
  left: 30px;
  top: 10px;
}
