.modal__butt--grey {
    background: #bbb8b8;
}
.modal__box--butt{
    text-align: right;

}

#transition-modal-title,#transition-modal-description{
    color: #7A7A7A;
 }

.header {
    background: #F8F9FA;
    height: 75px;
    display: flex;
    justify-content:space-around;
    padding: 0 30px 0 13px;
}