body{
  font-family: 'Gilroy', sans-serif;
  box-sizing: border-box;
}
*{
  box-sizing: border-box;
}

a{
  color: black;
}

.message{
  position: absolute !important;
  bottom:50px !important;
  left: 176px !important;
}
.catalog__item-butt--icon{
  width: 28px;
  cursor: pointer;
}

.content{
  justify-content: center;
  display: flex;
}
.logo{
  width: 33px;
  height: 21px;
  box-sizing: content-box;
  padding: 10px 8px 20px;
  border-bottom: solid 1px #DDE3EE;
}
.button{
  height: 32px;
  width: auto;
  color: white;
  border: none;
  border-radius: 4px;
  font-family: 'Gilroy';
  padding: 0 14px;
  margin: auto 5px;
  background: #61D5DF;
  font-size: 12px;
  cursor: pointer;
}
.button--big{
  font-family: 'Gilroy';
  width: 230px;
  height: 41px;
  display: block;
  background: #61d5df;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: 1px solid #61d5df;
  font-size: 13px;
  padding: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;
  margin: 20px auto;
}
.navigation{
  width: 54px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;

}

/*category-filter*/

.aside-bar{
  background: #ECEDF5;
  font-family: 'Gilroy', sans-serif;
  width: 257px;
  padding-bottom: 10px;
  min-height: 1092px;
  position: fixed;
  top:0;
  left: 54px;

}

.aside-bar__filter{
  background: #5D6B9F;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-family: 'Gilroy', sans-serif;
  padding: 0 20px;
  height: 52px;
  width: 257px;

}
.aside-bar__filter--light{
  background: #9DA9D5;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-family: 'Gilroy', sans-serif;
  padding: 0 20px;
  height: 52px;
  width: 257px;
}
.aside-bar__category{
  background: #DBDFF2;
  border-bottom: white 1px solid;
  font-family: 'Gilroy', sans-serif;
  color: #677791;
  font-size: 10px;
  font-weight: 300;
}
a{
  text-decoration: none;
}

.aside-bar__filter>i{
  margin: auto 0;
  font-weight: bold;
  font-size: 13px;

}

.aside__Select{
  width: 232px;
  height: 40px;
  margin: 20px 12px  0 15px;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  font-family: 'Gilroy', sans-serif;
}
.aside__slidecontainer{
  /*width: 232px;*/
  height: auto;
  font-family: 'Gilroy', sans-serif;

}
.slidecontainer__slider{
  width: 232px;
  height: 32px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
.aside__slidecontainer > .slidecontainer__title{
  font-size: 5px;
  text-align: center;
  margin: 20px 0;
}

.category-filter__title>h2{
  font-size: 43px;
  display: inline;
  margin: 20px 10px;
  text-align: center;
}
.category-filter__title>.material-icons{
  font-size: 30px;
  margin: auto 0;
  margin-left: 30px;
}

/*main*/
.main{
  /*width: 100%;*/
  position: absolute;
  right: 0;
  position: fixed;
  overflow-y: scroll;
  left: 312px;
  height: 100%;
}

/*main header*/

.header {
  background: #F8F9FA;
  height: 75px;
  display: flex;
  justify-content:space-around;
  padding: 0 32px 0 13px;
}

.search-box__input{
  font-family: 'Gilroy', sans-serif;
  margin: auto 0;
  height:100%;
  width: 90%;
  background: #ffff;
  border-radius: 10px;
  border: #ffff 1px solid;
  padding: 0 10px;
  outline: none;
  font-size: 20px;
  font-weight: normal;
  display: inline;

}
.search-box{
  min-width: 9%;
  height: 40px;
  background: #ffff;
  border-radius: 10px;
  border: #EFEFF1 1px solid;
  box-sizing: border-box;
  cursor: none;
  padding-right:10px ;
  margin: auto 20px;
  position: relative;
}
.search-box__button{
  padding: 0 ;
  margin: auto 0 ;
  width:10%;
  font-size: 17px;
  background: #ffff;
  border-radius: 10px;
  border: #ffff 1px solid;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 6px;
}
.header__para{
  width: auto;
  height: 14px;
  font-family: 'Gilroy', sans-serif;
  font-size: 12px;
  color: #353C55;
  margin: auto;
  padding: 0 20px;
  border-left: 1px solid darkslategrey;
}
.sort-section{
  background: white;
  height: 80px;
  border-bottom: 1px solid #E4E5EC;
  padding: 0 30px;
}

#sort{
  border: none;
  height: 50px;
  width: 250px;
  font-size: 20px;
  margin: 10px;
  color: #B1AEAE;
}

#sort>option{
  color: black;
  font-size: 15px;
  height: 45px;
  width: 250px;
}
/*main__catalog*/
.catalog{
  padding: 30px;
  display: flex;
  background: #F8F9FA;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
  min-height: 1200px;
}

.catalog__product{
  position: relative;
  flex: 1 500px;
  height: 450px;
  max-width: 530px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(112,112,112,.12);
  border-radius: 8px;
  cursor: pointer;
  box-sizing: inherit;
}
.catalog__product:hover{
  border: #61D5DF 2px solid;;
}
.catalog__product--set{
  border: #61D5DF 2px solid;
}
.catalog__photo{
  margin: 20px 0 0;
  max-width: 500px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----chackbox of item*/
.container {
  display: block;
  position: absolute;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  right: 10px;
  top: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.catalog__product:hover + .container, .button:hover {
  display: inline-block;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 20px;

}
.search__icon{
  width: 19px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*----------*/
.catalog__title{
  border-bottom:  #E4E5EC 1px solid;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin: 0 20px;
  overflow: hidden;
  height: 45px;
}
.catalog__price{
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}
.catalog__photo img {
  max-width: 100%;
  max-height: 100%;
}
hr{
  color: #F8F9FA
}

/*------*/
.item-table{
  display: flex;
  flex-wrap: wrap;
  max-height:100%;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: solid white 1px;
  /*height: 500px;*/
  min-width: 750px;
  backdrop-filter: none;
  background: white;
}

.modal{
  height: 100%;
  width: 92%;
  backdrop-filter: blur(1px);
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-table__representation{
  width: 40%;
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
  background: #FBFBFB;
  padding: 20px;
}
.item__cost{
  display: flex;

}
.item-table__img{
  margin: auto auto;
  max-width: 100%;
}

.cost__box{
  min-width: 50px;
  height: 41px;
  border-right: 1px solid white;
  background: #FAFAFA;
}

.catalog__cost-box{
  text-align: left;
  background: white;
  box-sizing: content-box;
  /*padding-right: 30px;*/
  border-right: 1px solid #F0E4E4;
  color: #626262;
  font-size: 30px;
}
.catalog__cost-box>.cost__text{
  font-size: 15px;
}
.catalog__cost-box>.cost__price{
  font-size: 17px;
  font-weight: revert;
}
.catalog__cost-box:last-child{
  border-right: none;
}
.cost__price{
  font-size: 17px;
  color: #717171;
  margin: 10px;
}
.cost__text{
  font-size: 10px;
  color: #9E9E9E;
  margin: 10px;
}

.information__description{
  flex-grow: 2;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 12.6em;
}
/*----*/
.Navigation-item__img{
  width: 20px;
  margin: 10px 0;
  cursor: pointer;
}
.Navigation-item__img:hover{
  border: #F7FDFD solid 1px;
}
.Navigation-item__img--round{
  border-radius: 50%;
  width: 30px;
  height: 32px;
  border: solid 1px #B8ECF1;
  padding: 2px;
  margin: 10px 0;
}

.profile-page{
  min-width: 1000px;
}

.cart--grid{
  display: flex;
}

.qty{
  text-align: right;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 7px;
}
.qty__only{
  text-align: right;
  height: 25px;
  margin-right: 20px;
  margin-top: 7px;
  color: #7A7A7A;
}
.qty>div, .qty>button{
  width: 30px;
  text-align: center;
  border: 1px solid #e8e9ea;
  color: #a8a8a8;
  background: #FBFBFB;
  cursor: pointer;
}
.modal_qty{
  text-align: left;
  width: 47%;
  margin: 2px 0 18px 0;
}
.qty>span{
  margin-right: 10px;
}

.qty__number{
  text-align: center;
  box-sizing: border-box;
  padding: 2px;

}

.qty__plus{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}
.qty__minus{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}

.get_qty{
  border-radius: 5px;
}

.cart--flex{
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 70px;
}

.cart {
  justify-content: space-between;
  display: flex;
  position: absolute;
  flex-wrap: wrap ;
  left: 317px;
}
