.cart-item{
    display: flex;
}
.table{
    width: 100%;
}

.cart-item__box{
    padding: 0 30px;
}
.table__item{
    height: 130px;
    width: 100%;
    border-bottom: solid 5px rgba(97, 213, 223, 0.49);
    display: flex;
    margin: 10px;
    box-sizing: border-box;
}
.td{
    margin: auto 0;
    width: 170px;
    text-align: center;
}
.td__img{
    height: 102px;
    width: 149px;
}
.td__img-box,.td__title,.td__qty,.td__price{
    width: 170px;
    text-align: center;
}
.thead{
}
.cart__butt--remove{
    width: 70px;
    height: 30px;
    background: blue;
    color: white;
    border-radius: 5px;
    border: none;
}
.cart__butt--remove:hover{
    cursor: pointer;
}