.cart-item{
    display: flex;
}
.table{
    width: 100%;
}
.card__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 75px;
    background: white;
    padding: 0 35px;
    box-shadow: 1px 1px 2px 1px rgba(224, 218, 218, 0.5);

}

.cart-item__box{
    background: #FBFBFB;
    right: 0;
    position: fixed;
    overflow-y: scroll;
    left: 311px;
    height: 100%;
}
.table__item{
    justify-content: space-around;
    padding: 12px;
    width: 90%;
    display: flex;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 7px;
    background: white;
    box-shadow: 1px 1px 2px 1px rgb(214 214 215);

}
.cart__qty{
    margin: auto 0;
}
.thead{
    padding: 12px;
    margin: 10px auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
    display: flex;
    margin: 0 auto;
}

.table--width{
    width: 100%;
    margin-top: 15px;
}
.button-box{
    min-width: 200px !important;
}
.td{
    margin: auto 0;
    width: 170px;
    text-align: center;
}
.td__img{
    height: 102px;
    width: 149px;
}
.td__img-box,.td__title,.td__qty,.td__price{
    width: 170px;
    text-align: center;
}
.thead{
}
.cart__butt--remove{
    width: 70px;
    height: 30px;
    background: blue;
    color: white;
    border-radius: 5px;
    border: none;
}
.cart__butt--remove:hover{
    cursor: pointer;
}