.catalog__item--butts{
    display: flex;
    padding: 6px;
}
.add-iv{
    padding: 0;
    background: none;
    border: none;
    text-align: left;
}
.more-icon{
    height: 31px ;
}
.item__cost{
     background: #FAFAFA;
     border-radius: 5px;
     padding: 10px 10px 20px;
     border: 2px white solid;
     box-shadow: 2px 5px #F1F1F1;
 }
.catalog__item--cost{
    border-radius: 0;
    box-shadow: none;
    border: none;
    max-height: 150px ;
    background: white;
}
.item-table__information>h3{
    font-size: 20px;
    color: #7A7A7A;
    margin-top: 30px;
}
.item-table__information>h2{
    flex-grow: 1;
    margin: 0 0 23px 0;
    font-size: 27px;
    color: #3f3d3d;
}
.item-table__information>button{
    position: revert;
    margin-left: 50%;
}
.item-table__information{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: start;
    padding:30px;
    background: white;
}
.catalog__item-butt--icon {
    width: 32px;
    cursor: pointer;
}