.dashboard-page{
    position: absolute;
    background: #F8F9FA;
    width: 100%;
    text-align: center;
}
.dashboard-page>hr{
    margin: 50px 0;
    color: #DDE3EE;
}
.dashboard__first-section{
    box-shadow: 1px 1px 2px 1px rgb(224, 218, 218, 0.5);
    margin: 50px 90px;
    width: 90%;
    background: white;
    border-radius: 8px;
    min-height: 350px;
    padding: 30px;
}
.dashboard__first-section-1th{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.dashboard__first-section-1th>p{
    font-family: Gilroy-med;
    font-size: 16px;
    font-weight: 600;
    padding: 0 24px;
    line-height: 1.63;
    text-align: center;
    color: #49547d;
}
.dashboard__first-section>h3{
    text-align: left;
    color: #383333;
    margin-bottom: 30px;
}
.dashboard__map{
    margin-top: 0;
}


