.Navigation-item__img{
    width: 20px;
    margin: 10px 0;
    cursor: pointer;
}
.Navigation-item__img:hover{
    border: #F7FDFD solid 1px;
}
.Navigation-item__img--round{
    border-radius: 50%;
    width: 30px;
    height: 32px;
    border: solid 1px #B8ECF1;
    padding: 2px;
    margin: 10px 0;
}
.navigation {
    width: 54px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 300;
    border-right: #61d5df 1px solid;
    height: 100vh;
}