body{
  font-family: 'Gilroy', sans-serif;
  box-sizing: border-box;
}
*{
  box-sizing: border-box;
}

.content{
  justify-content: center;
  display: flex;

}
.logo{
  width: 33px;
  height: 21px;
  margin: 0 10px;
}
.button{
  height: 32px;
  width: auto;
  color: white;
  border: none;
  border-radius: 4px;
  font-family: 'Gilroy';
  padding: 0 14px;
  margin: auto 0;
  background: #61D5DF;
  font-size: 12px;

}
.button--big{
  font-family: 'Gilroy';
  width: 230px;
  height: 41px;
  display: block;
  background: #61d5df;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: 1px solid #61d5df;
  font-size: 13px;
  padding: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;
  margin: 20px auto;
}
.navigation{
  width: 54px;
  padding-top: 28px;
}

/*category-filter*/

.aside-bar{
  background: #ECEDF5;
  font-family: 'Gilroy', sans-serif;
  width: 257px;
  padding-bottom: 10px;
}
.aside-bar__filter{
  background: #5D6B9F;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-family: 'Gilroy', sans-serif;
  padding: 0 20px;
  height: 52px;
  width: 257px;

}
.aside-bar__filter--light{
  background: #9DA9D5;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-family: 'Gilroy', sans-serif;
  padding: 0 20px;
  height: 52px;
  width: 257px;
}
.aside-bar__filter>i{
  margin: auto 0;
  font-weight: bold;
  font-size: 13px;

}

.aside__Select{
  width: 232px;
  height: 40px;
  margin: 20px 12px  0 15px;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  font-family: 'Gilroy', sans-serif;
}
.aside__slidecontainer{
  /*width: 232px;*/
  height: auto;
  font-family: 'Gilroy', sans-serif;

}
.slidecontainer__slider{
  width: 232px;
  height: 32px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
.aside__slidecontainer > .slidecontainer__title{
  font-size: 5px;
  text-align: center;
  margin: 20px 0;
}
@media screen and (max-width: 1300px) {
  .content>.navigation{
    transform: initial!important;
  }
}
.category-filter__title>h2{
  font-size: 43px;
  display: inline;
  margin: 20px 10px;
  text-align: center;
}
.category-filter__title>.material-icons{
  font-size: 30px;
  margin: auto 0;
  margin-left: 30px;
}

/*mine*/
.main{
  max-width: 1055px;
}

/*main header*/

.header {
  background: #F8F9FA;
  height: 140px;
  width: 1000px;
  display: flex;
  justify-content:space-between;
}

.search-box__input{
  margin: auto 0;
  height:100%;
  width: 90%;
  background: #ffff;
  border-radius: 10px;
  border: #ffff 1px solid;
  padding: 0 16px;
  font-size: 40px;
  display: inline;
}
.search-box{
  max-width: 270px;
  height: 40px;
  background: #ffff;
  border-radius: 10px;
  border: #EFEFF1 1px solid;
  box-sizing: border-box;
  cursor: none;
  padding-right:10px ;
  margin: 0 auto;

}
.search-box__button{
  padding: 0 ;
  margin: auto 0 ;
  width:10%;
  font-size: 17px;
  background: #ffff;
  border-radius: 10px;
  border: #ffff 1px solid;
  cursor: pointer;

}
.Header__para{
  width: auto;
  height: 14px;
  font-family: 'Gilroy', sans-serif;
  font-size: 12px;
  color: #353C55;
  margin: 0 auto;
  padding: 0 20px;
  border-left: 1px solid darkslategrey;
}
.main__sort{
  background: white;
  height: 80px;
  border-bottom: 1px solid #E4E5EC;
}
/*main__catalog*/
.main__catalog{
  padding: 30px;
  display: flex;
  background: #F8F9FA;
  flex-wrap: wrap;
  gap: 10px;
}

.catalog__product{
  margin: 20px;
  flex: 1 500px;
  max-width: 700px;
  height: 400px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: #E4E5EC 4px solid;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.catalog__product:hover{
  border: #61D5DF 4px solid;
}
.catalog__photo{
  margin: 10px 0;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__title{
  border-bottom:  #E4E5EC 1px solid;
  text-align: center;
  font-size: 30px;
}
.catalog__price{
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}
.catalog__photo img {
  max-width: 100%;
  max-height: 100%;
}
hr{
  color: #F8F9FA
}