body{
  font-family: 'Gilroy', sans-serif;
  box-sizing: border-box;
}
*{
  box-sizing: border-box;
}

.content{
  justify-content: center;
  display: flex;
  max-width: 1330px;
}
.logo{
  width: 33px;
  height: 21px;
  margin: 0 10px;
}
.button{
  height: 32px;
  width: auto;
  color: white;
  border: none;
  border-radius: 4px;
  font-family: 'Gilroy';
  padding: 0 14px;
  margin: auto 0;
  background: #61D5DF;
  font-size: 12px;
  cursor: pointer;
}
.button--big{
  font-family: 'Gilroy';
  width: 230px;
  height: 41px;
  display: block;
  background: #61d5df;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: 1px solid #61d5df;
  font-size: 13px;
  padding: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;
  margin: 20px auto;
}
.navigation{
  width: 54px;
  padding-top: 28px;
}

@media screen and( min-width: 1070px) {
  .content>.navigation { display: none}
}

/*category-filter*/

.aside-bar{
  background: #ECEDF5;
  font-family: 'Gilroy', sans-serif;
  width: 257px;
  padding-bottom: 10px;
}
@media (max-width: 935px){
  .aside-bar{
    width: 0;
  }
}
.aside-bar__filter{
  background: #5D6B9F;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-family: 'Gilroy', sans-serif;
  padding: 0 20px;
  height: 52px;
  width: 257px;

}
.aside-bar__filter--light{
  background: #9DA9D5;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-family: 'Gilroy', sans-serif;
  padding: 0 20px;
  height: 52px;
  width: 257px;
}
.aside-bar__filter>i{
  margin: auto 0;
  font-weight: bold;
  font-size: 13px;

}

.aside__Select{
  width: 232px;
  height: 40px;
  margin: 20px 12px  0 15px;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  font-family: 'Gilroy', sans-serif;
}
.aside__slidecontainer{
  /*width: 232px;*/
  height: auto;
  font-family: 'Gilroy', sans-serif;

}
.slidecontainer__slider{
  width: 232px;
  height: 32px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
.aside__slidecontainer > .slidecontainer__title{
  font-size: 5px;
  text-align: center;
  margin: 20px 0;
}
@media screen and (max-width: 1070px) {
  .content>.navigation{
    display: none!important;
  }
}
.category-filter__title>h2{
  font-size: 43px;
  display: inline;
  margin: 20px 10px;
  text-align: center;
}
.category-filter__title>.material-icons{
  font-size: 30px;
  margin: auto 0;
  margin-left: 30px;
}

/*main*/
.main{
  max-width: 1055px;
}

/*main header*/

.header {
  background: #F8F9FA;
  height: 75px;
  max-width: 1000px;
  display: flex;
  justify-content:space-around;
  padding: 0 100px 0 50px ;
}

.search-box__input{
  margin: auto 0;
  height:100%;
  width: 90%;
  background: #ffff;
  border-radius: 10px;
  border: #ffff 1px solid;
  padding: 0 16px;
  font-size: 40px;
  display: inline;
}
.search-box{
  max-width: 270px;
  height: 40px;
  background: #ffff;
  border-radius: 10px;
  border: #EFEFF1 1px solid;
  box-sizing: border-box;
  cursor: none;
  padding-right:10px ;
  margin: auto;

}
.search-box__button{
  padding: 0 ;
  margin: auto 0 ;
  width:10%;
  font-size: 17px;
  background: #ffff;
  border-radius: 10px;
  border: #ffff 1px solid;
  cursor: pointer;

}
.header__para{
  width: auto;
  height: 14px;
  font-family: 'Gilroy', sans-serif;
  font-size: 12px;
  color: #353C55;
  margin: auto;
  padding: 0 20px;
  border-left: 1px solid darkslategrey;
}
.sort-section{
  background: white;
  height: 80px;
  border-bottom: 1px solid #E4E5EC;
  padding: 30px;
}
/*main__catalog*/
.catalog{
  padding: 30px;
  display: flex;
  background: #F8F9FA;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.catalog__product{
  position: relative;
  flex: 1 500px;
  max-width: 49%;
  max-height: 479px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(112,112,112,.12);
  border-radius: 8px;
  cursor: pointer;
  box-sizing: inherit;
}
.catalog__product:hover{
  border: #61D5DF 2px solid;;
}
.catalog__product--set{
  border: #61D5DF 2px solid;
}
.catalog__photo{
  margin: 10px 0;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----chackbox of item*/
.container {
  display: block;
  position: absolute;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  right: 10px;
  top: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 20px;

}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*----------*/
.catalog__title{
  border-bottom:  #E4E5EC 1px solid;
  text-align: center;
  font-size: 30px;
}
.catalog__price{
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}
.catalog__photo img {
  max-width: 100%;
  max-height: 100%;
}
hr{
  color: #F8F9FA
}

/*------*/
.item-table{
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  /*justify-content: center;*/
  height: 100%;
  width: 95%;
  position: fixed;
  top: 0;
  left: 50px;
  /*right: 50px;*/
  backdrop-filter: blur(3px);
  padding: 50px 100px 50px 100px;
}
.item-table__representation{
  width: 40%;
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
  background: #FBFBFB;
  padding: 30px;
}
.item__cost{
  display: flex;

}
.item-table__img{
  margin: auto auto;
  width: 100px;
  height: 150px;
}

.cost__box{
  min-width: 50px;
  height: 41px;
  border-right: 1px solid white;
  background: #FAFAFA;
}
.cost__price{
  font-size: 17px;
  color: #717171;
  margin: 10px;
}
.cost__text{
  font-size: 10px;
  color: #9E9E9E;
  margin: 10px;

}
.item__cost{
  background: #FAFAFA;
  border-radius: 5px;
  padding: 10px 10px 20px;
  border: 2px white solid;
  box-shadow: 2px 5px #F1F1F1;
}
.item-table__information>h3{
  font-size: 20px;
  color: #7A7A7A;
}

.item-table__information{
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 60%;
  /*justify-content: space-between;*/
  padding: 30px;
  background: white;
}